body {
    background-image: url(https://i.pinimg.com/originals/46/be/1b/46be1b34317dc4d99317305c99ff213e.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: right 200%;
    background-color: black;
    padding-top: 100px;
    padding-left: 300px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

button {
    margin: 15px;
    font-size: 25px;
    padding: 10px 10px 10px 10px;
    position: relative;
    background-color: #581F18;
}

img {
    width: 1000px;
}

#quiz-status {
    width: 1000px;
    text-align: center;
    font-size: 30px;
    letter-spacing: 6px;
    padding-bottom: 50px;
    padding-top: 10px;
}

#intro {
    font-size: 22px;
    width: 1000px;
    text-align: justify;
    letter-spacing: 2px;
    line-height: 1.2;
    padding-bottom: 5px;
}

#go {
    width: auto;
}

.start {
    padding-left: 350px;
}

.quiz-questions {
    text-align: center;
    padding-right: 1000px;
    padding-bottom: 50px;
}

.end {
    text-align: center;
    font-size: 24px;
    padding-right: 500px;
}

button {
    color: white;
    border-radius: 25px;
    padding: 20px;
    text-align: center;
    width: 500px;
}

#countdown {
    font-size: 18px;
    text-align: left;
    margin-left: 400px;
}

ul li {
    list-style-type: none;
    font-size: 20px;
    width: 500px;
    padding: 5px;
    text-align: center;
    border-style: solid;
    border-color: #581F18;
    
}

#stored {
    text-align: center;
    margin-left: 250px;
}

#initials {
    height: 26px;
    font-size: 24px;
}

#correct {
    text-align: left;
    padding-left: 300px;
}

#content {
    text-align: center;
}

#form {
    padding-left: 250px;
}